body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    width: 100%;
    background-color: #f1e538;
    padding: 10px 20px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ea020284;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  #pagination {
    margin-top: 20px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    text-align: center;
  }

